@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hero {
  height: 80vh;
  /* width: 100vw; */
  max-height: 960px;
  min-height: 640px;
  background-image: url(/images/hero-banner.jpg);
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel .textbox {
  margin-left: calc((100vw - 1536px) / 2);
}

@media screen and (max-width: 1536px) {
  .carousel .textbox {
    margin-left: calc((100vw - 1280px) / 2);
  }
}
@media screen and (max-width: 1280px) {
  .carousel .textbox {
    margin-left: calc((100vw - 1024px) / 2);
  }
}

.carousel .swiper__item .info .info__type .info__type--dash::before {
  content: "";
  display: block;
  width: 27px;
  height: 1px;
  background-color: #616161;
}

.carousel .swiper__item--content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.carousel .swiper__item.active .swiper__item--content {
  opacity: 1;
  visibility: visible;
}

.carousel .swiper__item .swiper__item--thumbnail {
  aspect-ratio: 372/486;
  transition: aspect-ratio 0.3s;
}

.carousel .swiper__item.active .swiper__item--thumbnail {
  aspect-ratio: 404/582;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b88e2f;
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 8px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 8px)
  );
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #b88e2f;
}

.header__nav li a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.header__nav li a::before,
.header__nav li a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}

.header__nav li a::before {
  background-color: #b88e2f;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.header__nav li a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #b88e2f;
}

.header__nav li a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.header__nav li a:hover::after {
  transform: translate3d(0, 0, 0);
}

.header__nav li a span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.header__nav li a:hover span {
  transform: translate3d(-200%, 0, 0);
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  display: inline-block;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #b88e2f;
  display: block;
  transition: 0.3s;
  position: absolute;
  background: #ffffff;
  content: "buy now";
  transform: translateY(-50%) rotateX(90deg);
  border: 1px solid;
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #ffffff;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.3s;
  position: relative;
  background: #b88e2f;
  content: "buy now";
  transform: translateY(0) rotateX(0);
}
